<div>
    <h1>Designar serviço ao veiculo</h1>
    <div class="form-group">
        <form id="servico-form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="veiculo">Veiculo</label>
                    <select class="form-control" id="veiculo">
                        <option value="0">--Selecione--</option>
                        <% for(let i = 0; i < listaVeiculo.length; i++)  { %>
                            <option value="<%= listaVeiculo[i].veiId %>"><%= listaVeiculo[i].veiModelo %>(<%= listaVeiculo[i].veiAno %>)</option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="servico">Serviço</label>
                    <select class="form-control" id="servico">
                        <option value="0">--Selecione--</option>
                        <% for(let i = 0; i < lista.length; i++)  { %>
                            <option value="<%= lista[i].serv_id %>"><%= lista[i].serv_desc %></option>
                        <% } %>
                    </select>
                </div>
                <div class="mt-4">
                    <a class="btn btn-secondary" href="/servicos">Voltar</a>
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/js/Servicos/alocar.js"></script>